﻿@model WebApp.Models.HomeViewModel
@{
}


@foreach (var Cruise in Model.CruisesHomePage)
{

    <div class="row" data-id="@Cruise.CruiseId">
            @Html.ActionLink(@Cruise.Name, "Cruise", new { id = @Cruise.CruiseId })
            <h4>@Cruise.Name</h4>
            <h5>@Cruise.StartTime - @Cruise.EndTime</h5>
            @if (Cruise.Photos.Any(p => p.IsMain == true))
            {
                <div class="col-lg-3"> <img class="cruise-photo" src="@ViewBag.Address@Cruise.Photos.Where(p => p.IsMain == true).FirstOrDefault().Path" alt="..."> </div>
                <div class="col-lg-3"> <img class="cruise-photo" src="@ViewBag.Address@Cruise.Photos.Where(p => p.IsMain == false).FirstOrDefault().Path" alt="..."> </div>
                <div class="col-lg-3"> <img class="cruise-photo" src="@ViewBag.Address@Cruise.Photos.Where(p => p.IsMain == false).Skip(1).FirstOrDefault().Path" alt="..."> </div>

            }
            else
            {
           <div> <img  class="cruise-photo" src="http://localhost:8005/wwwservice/content/@Cruise.Photos.FirstOrDefault().Path" alt="..."> </div>
            <div class="photo-notmain"> <img class="cruise-photo" src="http://localhost:8005/wwwservice/content/@Cruise.Photos.Skip(1).FirstOrDefault().Path" alt="..."> </div>
            <div class="photo-notmain"> <img class="cruise-photo" src="http://localhost:8005/wwwservice/content/@Cruise.Photos.Skip(2).FirstOrDefault().Path" alt="..."> </div>
            }
            <h5>@Cruise.DescriptionCut()</h5>

        </div>


}
