﻿@model Domain.Cruise

@{
    ViewBag.Title = "Cruise";
    var value = Model.AccountId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <style type="text/css">
        #map_canvas {
            height: 600px;
            width: 800px;
        }
    </style>
    <link rel="stylesheet" href="~/carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/carousel/min-all.css" />
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js"></script>

</head>

<body id="home" onload="initMap()">
    <div id="main" class="col-xs-12 row">
        <div id="featured" class="col-xs-12 row">
            <div id="carousel-featured" class="owl-carousel">

                @foreach (var photo in Model.Photos)
                {
                    <div>
                        @*<img src="@photo.PhotoImage" alt="...">*@
                        <img src="@ViewBag.Address@photo.Path" alt="...">
                        <div class="info-wrapper container-pd100 col-xs-12">
                            <div class="col-xs-12 col-md-9 col-lg-6 pd-10">
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div id="main_stays">
            @foreach (var stay in Model.Stays.OrderBy(s => s.StayNumber).Where(s => s.IsAlternative == false))
            {
            <div class="main-stay" data-lat="@stay.Latitude" data-long="@stay.Longitude" data-curve="@stay.LegCurvature" data-number="@stay.StayNumber"></div>
            }
        </div>
        <div id="altern-stays">
            @foreach (var stay in Model.Stays.Where(s => s.IsAlternative == true))
            {
            <div class="altern-stay" data-lat="@stay.Latitude" data-long="@stay.Longitude"></div>
            }
        </div>
        <div id="map_canvas"></div>
        <span style="padding-left:80px;"> </span>
        <input id="Enjineer" class="radiob" type="radio" name="group1" value="Enjineer" style="padding-left:50px;"> <label for="Enjineer" style="color:blue; padding-right:20px;">Alternative stay</label>
        <input id="Object" class="radiob" type="radio" name="group1" value="Object" checked> <label for="Object" style="color:red; padding-right:63px;">Stay</label>
        <br>

        <div class="row cruise" data-id="@Model.CruiseId">
            <h4>@Model.Name</h4>
            <h5>@Model.Description</h5>
            <h5>Time: @Model.StartTime - @Model.EndTime</h5>
            <h5>Price: @Model.Price</h5>
            <h5>Vessel : @Model.VesselName</h5>
            <h5>@Model.VesselDescription</h5>
            <h5>Cap: @Model.CapName</h5>
            <h5>@Model.CapDescription</h5>
            <h5>VacantPlaces: @Model.VacantPlaces</h5>


        </div>
        <label>Your message: *</label>
        <textarea id="form_message" name="form.message" aria-required="true" data-validation-isnotempty-error="Please enter a message" required="required" data-clear="true"></textarea>
        <br/>
        <label>Name: *</label>
        <input id="name_input" type="text" />
        <br />
        <label>Email: *</label>
        <input id="email_input" type="text" />
        <button id="send_email" onclick="SendEmailToCruiseOwner()" type="submit">Send</button>
        <input id="email_checkbox" type="checkbox" checked>Send copy of this email to me<br>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/carousel/owl.carousel.min.js"></script>


    <script type="text/javascript">
        var map;
        var markerBounds;
        var markersArray = [];
        var alternativeMarkersArray = [];
        var curveArray = [];
        Point = google.maps.Point;
        Marker = google.maps.Marker;
        //var eventify = function (arr, callback) {
        //    arr.push = function (e) {
        //        Array.prototype.push.call(arr, e);
        //        callback(arr);
        //    };
        //};
        //eventify(markersArray, function (markersArray) {
        //    var n = markersArray.length;
        //    if (n>1)
        //        updateCurveMarker(markersArray[n - 2], markersArray[n-1]);
        //});
        function initMap() {
            var latlng = new google.maps.LatLng(28.6, -15.26);
            var myOptions = {
                zoom: 7,
                center: latlng,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            markerBounds = new google.maps.LatLngBounds();
            addMarkersFromDB();
            if (markerBounds.toString() != "((1, 180), (-1, -180))") {
                map.fitBounds(markerBounds);
            }
            google.maps.event.addListener(map, 'projection_changed', updateCurveMarkerArray);
            google.maps.event.addListener(map, 'zoom_changed', updateCurveMarkerArray);
            google.maps.event.addListenerOnce(map, "projection_changed", function () {
                addCurveMarkersDB();
            });
        }
        function updateCurveMarker(markerP1, markerP2) {
            var curvature = 0.3;
            if (markerP1.markercurvature != null) {
                curvature = markerP1.markercurvature;
            }
            var curveMarker;

            var pos1 = markerP1.getPosition(); // latlng
            var pos2 = markerP2.getPosition();
            var projection = map.getProjection();
            var p1 = projection.fromLatLngToPoint(pos1); // xy
            var p2 = projection.fromLatLngToPoint(pos2);

            // Calculate the arc.
            // To simplify the math, these points
            // are all relative to p1:
            var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                m = new Point(e.x / 2, e.y / 2), // midpoint
                o = new Point(e.y, -e.x), // orthogonal
                c = new Point( // curve control point
                    m.x + curvature * o.x,
                    m.y + curvature * o.y);

            var pathDef = 'M 0,0 ' +
                'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

            var zoom = map.getZoom(),
                scale = 1 / (Math.pow(2, -zoom));

            var symbol = {
                path: pathDef,
                scale: scale,
                strokeWeight: 2,
                fillColor: 'none'
            };

            if (!curveMarker) {
                curveMarker = new Marker({
                    position: pos1,
                    clickable: false,
                    icon: symbol,
                    markercurvature: curvature,
                    zIndex: 0, // behind the other markers
                    map: map
                });
            } else {
                curveMarker.setOptions({
                    position: pos1,
                    icon: symbol,
                });
            }
            curveArray.push(curveMarker);
            var curve_id = Object.keys(curveArray).length;
            curve_id--;
            $(".curve-tune").append('<input type="range" id="' + curve_id.toString() + '" class="tune-slider" name="points" min="-1" max="1" step="0.1" value="0.5" onchange="changeCurvature(this)">');
        }
        function updateCurveMarkerArray() {
            //var curvature = 0.5;
            if (curveArray.length > 0) {
                for (var i = 0; i < markersArray.length - 1; i++) {
                    var ii = i; ii++;
                    var pos1 = markersArray[i].getPosition(), // latlng
                                        pos2 = markersArray[ii].getPosition(),
                                        projection = map.getProjection(),
                                        p1 = projection.fromLatLngToPoint(pos1), // xy
                                        p2 = projection.fromLatLngToPoint(pos2);

                    // Calculate the arc.
                    // To simplify the math, these points
                    // are all relative to p1:
                    var curvature = curveArray[i].markercurvature;
                    var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                        m = new Point(e.x / 2, e.y / 2), // midpoint
                        o = new Point(e.y, -e.x), // orthogonal
                        c = new Point( // curve control point
                            m.x + curvature * o.x,
                            m.y + curvature * o.y);

                    var pathDef = 'M 0,0 ' +
                        'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

                    var zoom = map.getZoom(),
                        scale = 1 / (Math.pow(2, -zoom));

                    var symbol = {
                        path: pathDef,
                        scale: scale,
                        strokeWeight: 2,
                        fillColor: 'none'
                    };

                    if (!curveArray[i]) {
                        curveMarker = new Marker({
                            position: pos1,
                            clickable: false,
                            icon: symbol,
                            zIndex: 0, // behind the other markers
                            map: map
                        });
                    } else {
                        curveArray[i].setOptions({
                            position: pos1,
                            icon: symbol,
                        });
                    }
                }
            }
        }
        function changeCurvature(slider) {
            var curvature = slider.value;
            var curveId = slider.id;
            if (curveArray.length > 0) {
                var ii = curveId; ii++;
                var pos1 = markersArray[curveId].getPosition(), // latlng
                                        pos2 = markersArray[ii].getPosition(),
                                        projection = map.getProjection(),
                                        p1 = projection.fromLatLngToPoint(pos1), // xy
                                        p2 = projection.fromLatLngToPoint(pos2);

                // Calculate the arc.
                // To simplify the math, these points
                // are all relative to p1:
                var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                    m = new Point(e.x / 2, e.y / 2), // midpoint
                    o = new Point(e.y, -e.x), // orthogonal
                    c = new Point( // curve control point
                        m.x + curvature * o.x,
                        m.y + curvature * o.y);

                var pathDef = 'M 0,0 ' +
                    'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

                var zoom = map.getZoom(),
                    scale = 1 / (Math.pow(2, -zoom));

                var symbol = {
                    path: pathDef,
                    scale: scale,
                    strokeWeight: 2,
                    fillColor: 'none'
                };

                if (!curveArray[curveId]) {
                    curveMarker = new Marker({
                        position: pos1,
                        clickable: false,
                        icon: symbol,
                        markercurvature: curvature,
                        zIndex: 0, // behind the other markers
                        map: map
                    });
                } else {
                    curveArray[curveId].setOptions({
                        position: pos1,
                        markercurvature: curvature,
                        icon: symbol,
                    });
                }
            }
        }
        function addMarkersFromDB() {
            var t = document.getElementById('main_stays');
            var a = document.getElementById('altern-stays');
            for (i = 0; i < t.children.length; i++) {
                var lat = parseFloat(t.children[i].getAttribute("data-lat"));
                var lng = parseFloat(t.children[i].getAttribute("data-long"));
                var location = new google.maps.LatLng(lat, lng);
                var marker_type = 'main';
                var markerNumber = t.children[i].getAttribute("data-number"); // markersArray.length + 1;
                var pathToMarker = markerNumber + ".png";
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    markercurvature: t.children[i].getAttribute("data-curve"),
                    markertype: marker_type,
                    icon: '@Url.Content("~/img/largeTDRedIcons/marker")' + pathToMarker
                });
                markerBounds.extend(marker.getPosition());
                markersArray.push(marker);
            }
            for (i = 0; i < a.children.length; i++) {
                var lat = parseFloat(a.children[i].getAttribute("data-lat"));
                var lng = parseFloat(a.children[i].getAttribute("data-long"));
                var location = new google.maps.LatLng(lat, lng);
                var iconColour = '@Url.Content("~/img/largeTDRedIcons/blue-dot.png")';
                var marker_type = 'alternative';
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: iconColour,
                    draggable: false,
                    markertype: marker_type,
                });
                alternativeMarkersArray.push(marker);
                markerBounds.extend(marker.getPosition());
            }
        }
        function addCurveMarkersDB() {
            for (var i = 2; i <= markersArray.length; i++) {
                updateCurveMarker(markersArray[i - 2], markersArray[i - 1]);
            }
        }
        function SendEmailToCruiseOwner() {
            var cruise_Id = @Model.CruiseId;
            var email = $('#email_input').val();
            var name = $('#name_input').val();
            var message = $('#form_message').val();
            var send2me = document.getElementById("email_checkbox").checked;
            if(email==""||name==""||message==""){
                alert("Email, Name, Message can not be empty!");
            return;
            }
            $.ajax({
                url: '/Home/SendEmailToCruiseOwner',
                data: { CruiseId: cruise_Id, AccountId: @value, Email: email, Name: name, Message:message, SendToMe: send2me},
                type: 'post',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic xxxxxxxxxxxxx',
                    'X_CSRF_TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                    'cruise_id': $(".cruise").data("id")
                },
                traditional: true,
                //success: function () {  },
              //  error: function (jqXHR, textStatus, errorThrown) {
                //    alert('Put markers of both types on map');
                //}
            });debugger;
            $('#form_message').replaceWith(function(){
                return '<h4>Your message was sent!</h4>';
            });
            $('#send_email').attr("disabled", true);

        }
        jQuery(document).ready(function ($) {
            addCurveMarkersDB();
            var owl = $('.owl-carousel');
        });
    </script>


    <script src="~/carousel/main-min.js"></script>
</body>




