﻿@model Domain.Cruise

@{
    ViewBag.Title = "GetCruise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <style type="text/css">
        #map_canvas {
            height: 600px;
            width: 800px;
        }
    </style>
    <link rel="stylesheet" href="~/carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/carousel/min-all.css" />
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js"></script>
        @Scripts.Render("~/Scripts/html2canvas.js")
</head>

<body id="home" onload="initMap()"><div class="cruise" data-id="@Model.CruiseId"></div>
    <div id="main" class="col-xs-12 row">
        <div id="featured" class="col-xs-12 row">
            <div id="carousel-featured" class="owl-carousel">
                @*<div>
                        <img src="~/Content/home-hero-slider1.jpg" alt="..." />
                        <div class="info-wrapper container-pd100 col-xs-12">
                            <div class="col-xs-12 col-md-9 col-lg-6 pd-10">
                                <div class="featured-caption col-xs-12">
                                    <h3>Personalize design even durable push to second line</h3>
                                </div>
                                <div class="featured-description col-xs-12">
                                    <p>FROM<span class="price">£ 129</span><span class="shop pull-right"><a href="#" alt="SHOP THIS COLLECTION" class="link blue">SHOP THIS COLLECTION</a></span></p>
                                </div>
                            </div>
                        </div>
                        <span class="del"></span>
                    </div>
                    <div>
                        <img src="~/Content/home-hero-slider2.jpg" alt="..." />
                        <div class="info-wrapper container-pd100 col-xs-12">
                            <div class="col-xs-12 col-md-9 col-lg-6 pd-10">
                                <div class="featured-caption col-xs-12">
                                    <h3>Personalize design even durable 2</h3>
                                </div>
                                <div class="featured-description col-xs-12">
                                    <p>FROM<span class="price">£ 333</span><span class="shop pull-right"><a href="#" alt="SHOP THIS COLLECTION" class="link blue">SHOP THIS COLLECTION</a></span></p>
                                </div>
                            </div>
                        </div>
                        <span class="del"></span>
                    </div>
                    <div>
                        <img src="~/Content/home-hero-slider3.jpg" alt="..." />
                        <div class="info-wrapper container-pd100 col-xs-12">
                            <div class="col-xs-12 col-md-9 col-lg-6 pd-10">
                                <div class="featured-caption col-xs-12">
                                    <h3>Personalize design even durable 3</h3>
                                </div>
                                <div class="featured-description col-xs-12">
                                    <p>FROM<span class="price">£ 234</span><span class="shop pull-right"><a href="#" alt="SHOP THIS COLLECTION" class="link blue">SHOP THIS COLLECTION</a></span></p>
                                </div>
                            </div>
                        </div>
                        <span class="del"></span>
                    </div>*@
                @foreach (var photo in Model.Photos)
                {
                    <div>
                        @*<img src="@photo.PhotoImage" alt="...">*@
                        <img src="@ViewBag.Address@photo.Path" alt="@photo.FileName" data-p_id=@photo.PhotoId>
                        <div class="info-wrapper container-pd100 col-xs-12">
                            <div class="col-xs-12 col-md-9 col-lg-6 pd-10">
                            </div>
                        </div>
                        <span class="del"></span>
                        <span class="main-photo"></span>
                    </div>
                }

            </div>
        </div>
        <div id="main_stays">
            @foreach (var stay in Model.Stays.OrderBy(s => s.StayNumber).Where(s => s.IsAlternative == false))
            {
                <div class="main-stay" data-lat="@stay.Latitude" data-long="@stay.Longitude" data-curve="@stay.LegCurvature" data-number="@stay.StayNumber"></div>
            }
        </div>
        <div id="altern-stays">
            @foreach (var stay in Model.Stays.Where(s => s.IsAlternative == true))
            {
                <div class="altern-stay" data-lat="@stay.Latitude" data-long="@stay.Longitude"></div>
            }
        </div>
        <div id="map_canvas"></div>
        <input type="text" id="latFld">
        <input type="text" id="lngFld">
        <span style="padding-left:80px;"> </span>
        <input id="Enjineer" class="radiob" type="radio" name="group1" value="Enjineer" style="padding-left:50px;"> <label for="Enjineer" style="color:blue; padding-right:20px;">Alternative stay</label>
        <input id="Object" class="radiob" type="radio" name="group1" value="Object" checked> <label for="Object" style="color:red; padding-right:63px;">Stay</label>
        <input type="button" onclick="deleteMarkers()" value="Delete all Markers" />
        <div class="curve-tune">
        </div>
        <br>
        <button class="btn btn-primary btn-lg " style="padding-left:40px; padding-right:40px;  " onclick="sendArray()" type="button" aria-haspopup="true" aria-expanded="false">
            Save Route
        </button>
 
        <div>@Html.Partial("_PartialGetCruise", Model)</div>

        <div class="row">Upload Photos
            <input type="file" id="uploadEditorImage" />
        </div>
        <input id="load" type="submit" value="Download Map" />
        <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "DeleteCruise", id = Model.CruiseId })">
            <button class="btn btn-primary btn-lg ">Delete</button>
        </a>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/carousel/owl.carousel.min.js"></script>


    <script type="text/javascript">
        var CruiseId = $(".cruise").data();
        var map;
        var markerBounds;
        var markersArray = [];
        var alternativeMarkersArray = [];
        var curveArray = [];
        Point = google.maps.Point;
        Marker = google.maps.Marker;
        //var eventify = function (arr, callback) {
        //    arr.push = function (e) {
        //        Array.prototype.push.call(arr, e);
        //        callback(arr);
        //    };
        //};
        //eventify(markersArray, function (markersArray) {
        //    var n = markersArray.length;
        //    if (n>1)
        //        updateCurveMarker(markersArray[n - 2], markersArray[n-1]);
        //});
        function initMap() {
            var latlng = new google.maps.LatLng(28.6,-15.26);
            var myOptions = {
               zoom: 7,
               center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            markerBounds = new google.maps.LatLngBounds();
            addMarkersFromDB();
            if (markerBounds.toString()!="((1, 180), (-1, -180))")
            {
                map.fitBounds(markerBounds);
            }
            google.maps.event.addListener(map, "click", function (event) {

                placeMarker(event.latLng);
                //var n = markersArray.length;
                //if (n > 1)
                //{ updateCurveMarker(markersArray[n - 2], markersArray[n - 1]); }
                document.getElementById("latFld").value = event.latLng.lat();
                document.getElementById("lngFld").value = event.latLng.lng();
            });
            google.maps.event.addListener(map, 'projection_changed', updateCurveMarkerArray);
            google.maps.event.addListener(map, 'zoom_changed', updateCurveMarkerArray);
            google.maps.event.addListenerOnce(map, "projection_changed", function () {
                addCurveMarkersDB();
            });
        }
        function placeMarker(location) {
            // first remove all markers if there are any
            //   deleteOverlays();
            var iconColour;
            var e = document.getElementById("Enjineer");
            var o = document.getElementById("Object");
            var marker_type;
            if (e.checked == true) {
                iconColour = '@Url.Content("~/img/largeTDRedIcons/blue-dot.png")';
                marker_type = 'alternative';
                //   var markerNumber = markersArray.length + 1;
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: iconColour,
                    draggable: true,
                    markertype: marker_type,
                    // label: markerNumber.toString()
                });
                alternativeMarkersArray.push(marker);


            }
            if (o.checked == true) {
                marker_type = 'main';
                var markerNumber = markersArray.length + 1;
                var pathToMarker = markerNumber + ".png";
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: '@Url.Content("~/img/largeTDRedIcons/marker")' + pathToMarker,
                    // draggable: true,
                    markertype: marker_type,

                });
                markersArray.push(marker);
                var n = markersArray.length;
                if (n > 1)
                { updateCurveMarker(markersArray[n - 2], markersArray[n - 1]); }
                google.maps.event.addListener(marker, 'rightclick', function (event) {
                    marker.setMap(null);
                    for (var i = 0; i < markersArray.length; i++) {
                        if (markersArray[i].getPosition().equals(marker.getPosition())) {
                            var index = markersArray.indexOf(marker);
                            markersArray.splice(index, 1);
                            break;
                        }
                    }
                });
            }
        }
        function deleteMarkers() {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            for (var i = 0; i < curveArray.length; i++) {
                curveArray[i].setMap(null);
            }
            for (var i = 0; i < alternativeMarkersArray.length; i++) {
                alternativeMarkersArray[i].setMap(null);
            }
            alternativeMarkersArray = [];
            curveArray = [];
            markersArray = [];
            document.getElementById("latFld").value = null;
            document.getElementById("lngFld").value = null;
            $(".tune-slider").remove();

        }
        function updateCurveMarker(markerP1, markerP2) {
            var curvature = 0.3;
            if (markerP1.markercurvature != null) {
                curvature = markerP1.markercurvature;
            }
            var curveMarker;

            var pos1 = markerP1.getPosition(); // latlng
            var pos2 = markerP2.getPosition();
            var projection = map.getProjection();
            var p1 = projection.fromLatLngToPoint(pos1); // xy
            var p2 = projection.fromLatLngToPoint(pos2);

            // Calculate the arc.
            // To simplify the math, these points
            // are all relative to p1:
            var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                m = new Point(e.x / 2, e.y / 2), // midpoint
                o = new Point(e.y, -e.x), // orthogonal
                c = new Point( // curve control point
                    m.x + curvature * o.x,
                    m.y + curvature * o.y);

            var pathDef = 'M 0,0 ' +
                'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

            var zoom = map.getZoom(),
                scale = 1 / (Math.pow(2, -zoom));

            var symbol = {
                path: pathDef,
                scale: scale,
                strokeWeight: 2,
                fillColor: 'none'
            };

            if (!curveMarker) {
                curveMarker = new Marker({
                    position: pos1,
                    clickable: false,
                    icon: symbol,
                    markercurvature: curvature,
                    zIndex: 0, // behind the other markers
                    map: map
                });
            } else {
                curveMarker.setOptions({
                    position: pos1,
                    icon: symbol,
                });
            }
            curveArray.push(curveMarker);
            var curve_id = Object.keys(curveArray).length;
            curve_id--;
            $(".curve-tune").append('<input type="range" id="' + curve_id.toString() + '" class="tune-slider" name="points" min="-1" max="1" step="0.1" value="0.5" onchange="changeCurvature(this)">');
        }
        function sendArray() {

            var stayArrayCoord = [];
            var curvesArray = [];
            var AlternStayArrayCoord = [];

            //for (index = 0; index < markersArray.length; ++index) {
            //    if (markersArray[index].markertype == "Enjineer") { enjArray.push(markersArray[index].getPosition().lat()); enjArray.push(markersArray[index].getPosition().lng()); }
            //    else { objArray.push(markersArray[index].getPosition().lat()); objArray.push(markersArray[index].getPosition().lng()); }
            //}
            for (index = 0; index < markersArray.length; ++index) {
                stayArrayCoord.push(markersArray[index].getPosition().lat());
                stayArrayCoord.push(markersArray[index].getPosition().lng());
            }
            for (index = 0; index < curveArray.length; ++index) {
                curvesArray.push(curveArray[index].markercurvature);
            }
            for (index = 0; index < alternativeMarkersArray.length; ++index) {
                AlternStayArrayCoord.push(alternativeMarkersArray[index].getPosition().lat());
                AlternStayArrayCoord.push(alternativeMarkersArray[index].getPosition().lng());
                debugger;
            }
            $.ajax({
                url: '/Home/PostStays',
                data: { staysCoord: stayArrayCoord, curves: curvesArray, altStaysCoord: AlternStayArrayCoord },
                type: 'post',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic xxxxxxxxxxxxx',
                    'X_CSRF_TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                    'cruise_id': CruiseId.id
                },
                traditional: true,
                success: function (response, textStatus, jqXHR) { alert(response['value']);  },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Put markers of both types on map');
                }
            });
        }
        function deletePhoto(CruiseId, PhotoId, FileName) {
            $.ajax({
                url: '/Home/DeletePhoto',
                data: { CruiseId: CruiseId, PhotoId: PhotoId, FileName:FileName },
                type: 'post',
                dataType: 'json',
                headers: {
                    'Authorization': 'Basic xxxxxxxxxxxxx',
                    'X_CSRF_TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                    'cruise_id': CruiseId.id
                },
                traditional: true
            });
        }

        function updateCurveMarkerArray() {
            //var curvature = 0.5;
            if (curveArray.length > 0) {
                for (var i = 0; i < markersArray.length - 1; i++) {
                    var ii = i; ii++;
                    var pos1 = markersArray[i].getPosition(), // latlng
                                        pos2 = markersArray[ii].getPosition(),
                                        projection = map.getProjection(),
                                        p1 = projection.fromLatLngToPoint(pos1), // xy
                                        p2 = projection.fromLatLngToPoint(pos2);

                    // Calculate the arc.
                    // To simplify the math, these points
                    // are all relative to p1:
                    var curvature = curveArray[i].markercurvature;
                    var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                        m = new Point(e.x / 2, e.y / 2), // midpoint
                        o = new Point(e.y, -e.x), // orthogonal
                        c = new Point( // curve control point
                            m.x + curvature * o.x,
                            m.y + curvature * o.y);

                    var pathDef = 'M 0,0 ' +
                        'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

                    var zoom = map.getZoom(),
                        scale = 1 / (Math.pow(2, -zoom));

                    var symbol = {
                        path: pathDef,
                        scale: scale,
                        strokeWeight: 2,
                        fillColor: 'none'
                    };

                    if (!curveArray[i]) {
                        curveMarker = new Marker({
                            position: pos1,
                            clickable: false,
                            icon: symbol,
                            zIndex: 0, // behind the other markers
                            map: map
                        });
                    } else {
                        curveArray[i].setOptions({
                            position: pos1,
                            icon: symbol,
                        });
                    }
                }
            }
        }
        function changeCurvature(slider) {
            var curvature = slider.value;
            var curveId = slider.id;
            if (curveArray.length > 0) {
                var ii = curveId; ii++;
                var pos1 = markersArray[curveId].getPosition(), // latlng
                                        pos2 = markersArray[ii].getPosition(),
                                        projection = map.getProjection(),
                                        p1 = projection.fromLatLngToPoint(pos1), // xy
                                        p2 = projection.fromLatLngToPoint(pos2);

                // Calculate the arc.
                // To simplify the math, these points
                // are all relative to p1:
                var e = new Point(p2.x - p1.x, p2.y - p1.y), // endpoint (p2 relative to p1)
                    m = new Point(e.x / 2, e.y / 2), // midpoint
                    o = new Point(e.y, -e.x), // orthogonal
                    c = new Point( // curve control point
                        m.x + curvature * o.x,
                        m.y + curvature * o.y);

                var pathDef = 'M 0,0 ' +
                    'q ' + c.x + ',' + c.y + ' ' + e.x + ',' + e.y;

                var zoom = map.getZoom(),
                    scale = 1 / (Math.pow(2, -zoom));

                var symbol = {
                    path: pathDef,
                    scale: scale,
                    strokeWeight: 2,
                    fillColor: 'none'
                };

                if (!curveArray[curveId]) {
                    curveMarker = new Marker({
                        position: pos1,
                        clickable: false,
                        icon: symbol,
                        markercurvature: curvature,
                        zIndex: 0, // behind the other markers
                        map: map
                    });
                } else {
                    curveArray[curveId].setOptions({
                        position: pos1,
                        markercurvature: curvature,
                        icon: symbol,
                    });
                }
            }
        }
        function addMarkersFromDB() {
            var t = document.getElementById('main_stays');
            var a = document.getElementById('altern-stays');
           for (i = 0; i < t.children.length; i++) {
               var lat = parseFloat(t.children[i].getAttribute("data-lat"));
               var lng = parseFloat(t.children[i].getAttribute("data-long"));
               var location = new google.maps.LatLng(lat, lng);
                var marker_type = 'main';
                var markerNumber = t.children[i].getAttribute("data-number"); // markersArray.length + 1;
                var pathToMarker = markerNumber + ".png";
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: '@Url.Content("~/img/largeTDRedIcons/marker")' + pathToMarker,
                    markercurvature: t.children[i].getAttribute("data-curve"),
                    markertype: marker_type,
                });
                markerBounds.extend(marker.getPosition());
                markersArray.push(marker);
           }
           for (i = 0; i < a.children.length; i++) {
               var lat = parseFloat(a.children[i].getAttribute("data-lat"));
               var lng = parseFloat(a.children[i].getAttribute("data-long"));
               var location = new google.maps.LatLng(lat, lng);
               var iconColour = '@Url.Content("~/img/largeTDRedIcons/blue-dot.png")';
               var marker_type = 'alternative';
               var marker = new google.maps.Marker({
                   position: location,
                   map: map,
                   icon: iconColour,
                   draggable: true,
                   markertype: marker_type,
                   // label: markerNumber.toString()
               });
               alternativeMarkersArray.push(marker);
               markerBounds.extend(marker.getPosition());
           }
        }
        function addCurveMarkersDB() {
            for (var i = 2; i <= markersArray.length; i++) {
                updateCurveMarker(markersArray[i - 2], markersArray[i - 1]);
            }
        }


        //  google.maps.event.addDomListener(window, 'load', initMap);
        jQuery(document).ready(function ($) {
            addCurveMarkersDB();
            var owl = $('.owl-carousel');
            // REMOVE ITEM
            var removeElement = function (element) {
                var index = $(element).closest('.owl-item ').index() - 2;
                var photoFileName = $(element).closest('.owl-item ').children().first().children('img').attr("alt");
                var photoId = $(element).closest('.owl-item ').children().first().children('img').attr("data-p_id");
                owl.trigger('remove.owl.carousel', index).trigger('refresh.owl.carousel');
                deletePhoto(CruiseId.id, photoId, photoFileName);
            }

            var mainPhoto = function (element) {
                var index = $(element).closest('.owl-item ').index() - 2;
                var photoFileName = $(element).closest('.owl-item ').children().first().children('img').attr("alt");
                var photoId = $(element).closest('.owl-item ').children().first().children('img').attr("data-p_id");
                $.ajax({
                    url: '/Home/SetMainPhoto',
                    data: { CruiseId: CruiseId.id, PhotoId: photoId, FileName: photoFileName },
                    type: 'post',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Basic xxxxxxxxxxxxx',
                        'X_CSRF_TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                        'cruise_id': CruiseId.id
                    },
                    traditional: true
                });
            }

            $("#uploadEditorImage").change(function () {
                var data = new FormData();
                var files = $("#uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HelpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Home/UploadFile',
                    headers: {
                        'Authorization': 'Basic xxxxxxxxxxxxx',
                        'X_CSRF_TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                        'cruise_id': CruiseId.id
                    },
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        // ADD ITEM
                        owl.trigger('add.owl.carousel', '<img src="' + response + '"><span class="del added"></span>').trigger('refresh.owl.carousel');

                        $('span.added').removeClass('added').click(function () {
                            removeElement(this);
                        });
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
            });

            $('span.del').click(function () {
                removeElement(this);
            });
            $('span.main-photo').click(function () {
                mainPhoto(this);
            });
        });
        $(window).load(function () {

            $('#load').click(function () {

                html2canvas($('#map_canvas'), {
                    useCORS: true,
                    onrendered: function (canvas) {
                        var dataURL = canvas.toDataURL("image/png"); //.replace("image/png", "image/octet-stream");
                        var link = document.createElement("a");
                        link.download = "RouteMap";
                        link.href = dataURL;
                        link.click();
                      //  window.location.href = dataURL;
                    }
                });

            });
        });
        $(document).ajaxComplete(function () {
            //alert("Triggered ajaxComplete handler.");
            $.validator.unobtrusive.parse('#divEmp');
        });
    </script>


    <script src="~/carousel/main-min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


