﻿@model WebApp.Models.HomeViewModel 
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .cruise-photo {
        width: 200px;
        height: 200px;
    }
</style>
<head>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
</head>




<div class="jumbotron">
    <h1>Cruise Presenter</h1>
    <p class="lead">Cruise Presenter is a  web site where...</p>
    <p>@Html.ActionLink("Learn more", "About", "Home")</p>
</div>

@* @foreach (var Cruise in Model.CruisesHomePage) {

    <div class="row" data-id="@Cruise.CruiseId">
        @Html.ActionLink(@Cruise.Name, "Cruise", new { id = @Cruise.CruiseId })
        <h4>@Cruise.Name</h4>
        <h5>@Cruise.StartTime - @Cruise.EndTime</h5>
        @if (Cruise.Photos.Any(p => p.IsMain == true))
        {
            <div> <img class="cruise-photo" src="http://localhost:8005/wwwservice/content/@Cruise.Photos.Where(p => p.IsMain == true).FirstOrDefault().Path" alt="..."> </div>
        }
        else
        {
       <div> <img  class="cruise-photo" src="http://localhost:8005/wwwservice/content/@Cruise.Photos.FirstOrDefault().Path" alt="..."> </div>
        }
        <h5>@Cruise.Description</h5>

    </div>
}*@
<div id="_index">@Html.Partial("_Index", Model)</div>

<div>
    @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "_index", InsertionMode = InsertionMode.Replace }))
    {
    <input type="hidden" id="CurrentPage" name="CurrentPage" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="LastPage" name="LastPage" value="@ViewBag.LastPage" />

    }
    <div class="row">
        <input type="button" id="Previous" value="Previous" />
        <input type="button" id="Next" value="Next" />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#Previous').click(function () {
            if (CalculateAndSetPage("Previous"))
                $("form").submit();
        });
        $('#Next').click(function () {
            if (CalculateAndSetPage("Next"))
                $("form").submit();
        });
    
    });
    function CalculateAndSetPage (movingType) {
        var currentPage = parseInt($("#CurrentPage").val());
        var lastPage = parseInt($("#LastPage").val());

        if (currentPage == 1 && movingType == "Previous")
            return false;
        if (currentPage == lastPage && movingType == "Next")
            return false;

        if (movingType == "Previous") {
            currentPage--;
        }
        else if (movingType == "Next") {
            currentPage++;
        }
        else { alert("Something is wrong!"); }

        $("#CurrentPage").val(currentPage);

        return true;
    }

</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
