﻿@model WebApp.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .cruise-photo {
        width: 200px;
        height: 200px;
    }
</style>

@foreach (var Cruise in Model.CruisesHomePage)
{

    <div class="row" data-id="@Cruise.CruiseId">
        @Html.ActionLink(@Cruise.Name, "GetCruise", new { id = @Cruise.CruiseId })
        <h4>@Cruise.Name</h4>
        <h5>@Cruise.StartTime - @Cruise.EndTime</h5>
        @if (Cruise.Photos.Any(p => p.IsMain == true))
        {
            <div> <img class="cruise-photo" src="@ViewBag.Address@Cruise.Photos.Where(p => p.IsMain == true).FirstOrDefault().Path" alt="..."> </div>
        }
        else
        {
            <div> <img class="cruise-photo" src="@ViewBag.Address@Cruise.Photos.FirstOrDefault().Path" alt="..."> </div>
        }
        <h5>@Cruise.DescriptionCut()</h5>

    </div>

    <button class="btn btn-primary btn-lg" onclick="deleteCruise()" type="submit">Delete Cruise</button>
}

<script type="text/javascript">
    
</script>
