﻿@model WebApp.Models.SearchModel
@{
        ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@foreach (var result in Model.webResults)
{
    <div>@result.Title</div>
    <div>@result.DisplayUrl</div>
    <br />
}
