.logo svg .blue {
  fill: #0729b4;
}
.logo svg .grey {
  fill: #404042;
}
.pace-running .logo svg .blue {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.pace-done .logo svg .blue {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace .pace-progress {
  background: #0629b4;
  position: fixed;
  z-index: 999;
  top: 90px;
  right: 100%;
  width: 100%;
  height: 2px;
}
@media screen and (max-width: 750px) {
  .pace .pace-progress {
    display: none;
  }
}
.pace-inactive {
  display: none;
}
::-moz-selection {
  background: rgba(4,65,193,0.8);
  color: #fff;
}
::selection {
  background: rgba(4,65,193,0.8);
  color: #fff;
}
html {
  line-height: 1.6;
}
html,
body {
  font-family: 'Avenir Next', 'Lato', Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  width: 100%;
  font-size: 24px;
  background: #ebebeb;
}
body {
  padding-top: 90px;
}
@media screen and (max-width: 750px) {
  body {
    padding-top: 60px;
  }
}
#main {
  background: #fff;
  min-height: 100%;
  width: 100%;
  display: block;
}
.container-pd100 {
  max-width: 1600px;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: auto;
  z-index: 9;
  padding: 0 100px !important;
}
@media screen and (max-width: 750px) {
  .container-pd100 {
    padding: 0 10px !important;
  }
}
.section-spacing {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*:before,
*:after,
button,
input,
a {
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
a {
  color: #000;
  letter-spacing: 1.1;
  text-transform: uppercase;
  font-size: 12px;
}
a:hover,
a:active,
a:focus {
  color: #0629b4;
  text-decoration: none;
}
*:focus {
  outline: 0 !important;
}
.pd-10 {
  padding: 0 5px 10px 5px !important;
}
.mg-40 {
  margin: 40px 0;
}
@font-face {
  font-family: 'Dala Moa';
  src: url("../fonts/dala moa/DalaMoa-Medium-Web.ttf") format('truetype'), url("../fonts/dala moa/DalaMoa-Medium-Web.woff") format('woff'), url("../fonts/dala moa/DalaMoa-Medium-Web.eot") format('embedded-opentype'), url("../fonts/dala moa/DalaMoa-Medium-Web.svg") format('svg');
}
@font-face {
  font-family: 'Avenir Next';
  font-weight: 300;
  src: url("../fonts/avenir next/avenirnext-med.ttf") format('truetype'), url("../fonts/avenir next/avenirnext-med.eot") format('embedded-opentype'), url("../fonts/avenir next/avenirnext-med.woff") format('woff'), url("../fonts/avenir next/avenirnext-med.svg") format('svg');
}
@font-face {
  font-family: 'Avenir Next';
  font-weight: 600;
  src: url("../fonts/avenir next/avenirnext-demi.ttf") format('truetype'), url("../fonts/avenir next/avenirnext-demi.eot") format('embedded-opentype'), url("../fonts/avenir next/avenirnext-demi.woff") format('woff'), url("../fonts/avenir next/avenirnext-demi.svg") format('svg');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dala Moa', Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  line-height: 1.2;
}
h1 {
  font-size: 2.5em;
  margin: 0.67em 0;
  margin-top: 0;
  letter-spacing: 1.2;
}
h2 {
  font-size: 2em;
  margin: 0.83em 0;
  margin-top: 0;
}
h3 {
  font-size: 1.5em;
  margin: 1em 0;
  margin-top: 0;
  letter-spacing: 0.4;
}
h4 {
  font-size: 1.25em;
  margin: 1.33em 0;
  margin-top: 0;
  letter-spacing: 0.4;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  margin-top: 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
  margin-top: 0;
}
p {
  font-family: 'Avenir Next', 'Lato', Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  font-size: 14px;
  margin-top: 0;
  line-height: 1.6;
  letter-spacing: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
}
.overlay {
  position: fixed;
  z-index: 98;
  background: #3f3f3f;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
}
.modal-backdrop {
  background: #3f3f3f !important;
  opacity: 0.8 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" !important;
  filter: alpha(opacity=80) !important;
}
.close {
  background: RGBA(15, 26, 183, 0.9) url("../img/ui/icon-cross.svg") center center no-repeat;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  background-size: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 99;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.close:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.divider {
  width: 100%;
  float: left;
}
.divider img {
  width: 100%;
}
.underline-link {
  text-decoration: underline;
  text-transform: none;
}
@media screen and (max-width: 750px) {
  .owl-nav {
    display: none;
  }
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: RGBA(15, 26, 183, 0.9);
  left: 25px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 9;
  -webkit-box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  cursor: pointer;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  overflow: hidden;
  font-size: 0;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
  background: #bdbdbd;
}
.owl-nav .owl-prev.disabled:hover,
.owl-nav .owl-next.disabled:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-nav .owl-prev.disabled:hover:before,
.owl-nav .owl-next.disabled:hover:before {
  left: 0;
}
.owl-nav .owl-prev.disabled:hover:after,
.owl-nav .owl-next.disabled:hover:after {
  display: none;
}
.owl-nav .owl-prev:before,
.owl-nav .owl-next:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  background: url("../img/ui/arrow-left-white.svg") center center no-repeat;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.owl-nav .owl-prev:after,
.owl-nav .owl-next:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 100%;
  top: 0;
  background: url("../img/ui/arrow-left-white.svg") center center no-repeat;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-nav .owl-prev:hover:before,
.owl-nav .owl-next:hover:before {
  left: -100%;
}
.owl-nav .owl-prev:hover:after,
.owl-nav .owl-next:hover:after {
  left: 0;
}
.owl-nav .owl-next {
  right: 25px;
  left: auto;
}
.owl-nav .owl-next:before {
  left: 0;
  background: url("../img/ui/arrow-right-white.svg") center center no-repeat;
}
.owl-nav .owl-next:after {
  left: -100%;
  background: url("../img/ui/arrow-right-white.svg") center center no-repeat;
}
.owl-nav .owl-next:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-nav .owl-next:hover:before {
  left: 100%;
}
.owl-nav .owl-next:hover:after {
  left: 0;
}
.touch .gallery-carousel .owl-nav {
  display: none;
}
.gallery-carousel {
  background: #3f3f3f;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 80px 0 !important;
  min-height: 500px !important;
}
@media screen and (max-width: 750px) {
  .gallery-carousel {
    min-height: auto !important;
  }
}
.gallery-carousel .owl-carousel {
  position: relative;
}
.gallery-carousel .owl-carousel .owl-item {
  position: relative;
}
.gallery-carousel .owl-carousel .owl-item:before {
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #3f3f3f;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 9;
}
.gallery-carousel .owl-carousel .owl-item.center:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.gallery-carousel .owl-carousel .owl-item .title,
.gallery-carousel .owl-carousel .owl-item .description {
  display: none;
}
.gallery-carousel #title {
  color: #bdbdbd;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  margin: 40px 20px;
}
.gallery-carousel #description {
  color: #bdbdbd;
  padding: 0 20px;
  padding-bottom: 40px;
}
.gallery-carousel .navi {
  width: 40px;
  height: 40px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  background: url("../img/ui/arrow-right-white.svg") center center no-repeat;
  display: inline-block;
}
.gallery-carousel .navi.left {
  background: url("../img/ui/arrow-left-white.svg") center center no-repeat;
}
.gallery-carousel .owl-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  font-size: 0;
}
.gallery-carousel .owl-nav .owl-prev:before,
.gallery-carousel .owl-nav .owl-next:before,
.gallery-carousel .owl-nav .owl-prev:after,
.gallery-carousel .owl-nav .owl-next:after {
  display: none;
}
.gallery-carousel .owl-nav .owl-prev:hover,
.gallery-carousel .owl-nav .owl-next:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery-carousel .owl-nav .owl-next {
  right: 0;
  left: auto;
}
.link {
  border-style: solid;
  border-width: 4px;
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  letter-spacing: 1.05;
  position: relative;
  overflow: hidden;
  color: rgba(255,255,255,0);
  text-align: center;
  display: inline-block;
}
.link:before {
  content: attr(alt);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link:after {
  content: attr(alt);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link:hover {
  color: rgba(255,255,255,0);
}
.link:hover:before {
  top: -100%;
}
.link:hover:after {
  top: 0;
}
.link.blue {
  border-color: #0629b4;
}
.link.blue:hover {
  background: #0629b4;
}
.link.blue:before {
  color: #0629b4;
}
.link.blue:after {
  color: #fff;
  border-color: #0629b4;
  background: #0629b4;
}
.link.white {
  border-color: #fff;
}
.link.white:hover {
  background: #fff;
}
.link.white:before {
  color: #fff;
}
.link.white:after {
  color: #0629b4;
  border-color: #fff;
  background: #fff;
}
input {
  padding: 10px 15px;
  border: 1px solid #ebebeb !important;
  margin-right: 20px;
  -webkit-box-shadow: inset 1px 2px 5px 0px rgba(46,46,46,0.1);
  box-shadow: inset 1px 2px 5px 0px rgba(46,46,46,0.1);
  font-size: 12px;
  height: 40px;
  text-transform: capitalize;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
input:focus {
  border: 1px solid #0629b4 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px transparent;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px transparent;
}
.select {
  padding: 5px 10px;
  padding-right: 40px;
  border: 1px solid #ebebeb;
  text-transform: uppercase;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  color: #0629b4;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  background: #fff url("../img/ui/arrow-down-grey.svg") calc(100% - 15px) center no-repeat;
}
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical-alignment-helper .modal-dialog {
  width: 450px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 750px) {
  .vertical-alignment-helper .modal-dialog {
    width: 90%;
  }
}
.vertical-alignment-helper .modal-dialog .modal-content {
  width: inherit;
  height: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}
.vertical-alignment-helper .modal-dialog .modal-content .modal-header,
.vertical-alignment-helper .modal-dialog .modal-content .modal-body,
.vertical-alignment-helper .modal-dialog .modal-content .modal-footer {
  padding: 40px;
}
@media screen and (max-width: 750px) {
  .vertical-alignment-helper .modal-dialog .modal-content .modal-header,
  .vertical-alignment-helper .modal-dialog .modal-content .modal-body,
  .vertical-alignment-helper .modal-dialog .modal-content .modal-footer {
    padding: 20px;
  }
}
.vertical-alignment-helper .modal-dialog .modal-content .modal-header {
  background: url("../img/ui/login-header.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.vertical-alignment-helper .modal-dialog .modal-content .close {
  right: 40px;
  top: 40px;
}
@media screen and (max-width: 750px) {
  .vertical-alignment-helper .modal-dialog .modal-content .close {
    right: 20px;
    top: 20px;
  }
}
.vertical-alignment-helper .modal-dialog .modal-content .modal-body {
  padding-bottom: 20px;
}
.vertical-alignment-helper .modal-dialog .modal-content .modal-body p {
  color: #bdbdbd;
  font-size: 12px;
}
.vertical-alignment-helper .modal-dialog .modal-content .modal-body a {
  text-transform: none;
  text-decoration: underline;
  letter-spacing: 0px;
}
@media screen and (max-width: 750px) {
  .vertical-alignment-helper .modal-dialog .modal-content .modal-body .forgotPW {
    text-align: left;
    margin-top: 10px;
  }
}
.form-group label {
  font-size: 12px;
  text-transform: uppercase;
  color: #bdbdbd;
}
.form-group input {
  height: 42px;
}
.form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu {
  font-size: 12px;
  -webkit-box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 3px solid #ebebeb;
  border-top: none;
  overflow: scroll;
  height: 150px;
  min-width: auto;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
.dropdown-menu li {
  display: list-item;
}
.cy .dropdown-menu {
  width: 60px;
}
button,
input[type='submit'] {
  font-family: 'Avenir Next', 'Lato', Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 13px 15px;
  -webkit-box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  text-transform: uppercase;
  background-color: #3f3f3f;
  border: none;
  font-size: 12px;
  letter-spacing: 1.1;
  color: #fff;
  height: 40px;
}
button:hover,
input[type='submit']:hover {
  background-color: #f7f7f7;
  color: #0629b4;
}
button.white-btn,
input[type='submit'].white-btn {
  background: #f7f7f7;
  color: #0629b4;
}
button.white-btn:hover,
input[type='submit'].white-btn:hover {
  background-color: #3f3f3f;
  color: #fff;
}
button.blue-btn,
input[type='submit'].blue-btn {
  background: #0629b4;
  color: #fff;
}
button.blue-btn:hover,
input[type='submit'].blue-btn:hover {
  background-color: #3f3f3f;
  color: #fff;
}
.checkbox input[type='checkbox'] {
  display: none;
}
.checkbox input[type='checkbox']:checked + label {
  background: #0629b4;
  border: 3px solid #d4d4d4;
}
.checkbox label {
  padding: 0;
  margin-right: 10px;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 600;
  color: #d4d4d4;
}
.checkbox label:nth-child(2) {
  width: 20px;
  height: 20px;
  border: 3px solid #d4d4d4;
}
#InyardVideo {
  width: 100%;
  background: #b8b8b8;
}
#InyardVideo:hover .vjs-big-play-button:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#InyardVideo:hover .vjs-big-play-button:after {
  width: 80px;
  height: 80px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#InyardVideo:active .vjs-big-play-button:before {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
#InyardVideo:active .vjs-big-play-button:after {
  width: 150px;
  height: 150px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#InyardVideo.vjs-fullscreen {
  max-height: 100%;
}
#InyardVideo.vjs-ended .vjs-poster {
  display: block;
}
#InyardVideo.vjs-ended .vjs-control-bar {
  display: none;
}
#InyardVideo.vjs-ended .vjs-big-play-button {
  display: block;
}
#InyardVideo.vjs-paused video {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#InyardVideo.vjs-paused .vjs-control-bar {
  display: none;
}
#InyardVideo.vjs-paused .vjs-big-play-button {
  display: block;
}
@media screen and (max-width: 970px) {
  #InyardVideo {
    height: 41vw;
  }
}
@media screen and (max-width: 750px) {
  #InyardVideo {
    height: 55vw;
  }
}
#InyardVideo .vjs-big-play-button {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 99;
  width: 150px;
  height: 150px;
  background: transparent;
}
#InyardVideo .vjs-big-play-button:before {
  width: 60px;
  height: 60px;
  background: url("../img/ui/icon-play.svg") center center no-repeat !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
#InyardVideo .vjs-big-play-button:after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: RGBA(15, 26, 183, 0.9);
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#InyardVideo .vjs-big-play-button:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#InyardVideo .vjs-big-play-button:hover:after {
  width: 80px;
  height: 80px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#InyardVideo .vjs-big-play-button:active:before {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
#InyardVideo .vjs-big-play-button:active:after {
  width: 150px;
  height: 150px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#InyardVideo .vjs-control-bar {
  color: #0629b4;
  background: rgba(201,201,201,0.5);
}
#InyardVideo .vjs-control-bar button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#InyardVideo .vjs-control-bar .vjs-volume-menu-button,
#InyardVideo .vjs-control-bar .vjs-remaining-time {
  display: none;
}
.goup-container {
  width: 50px !important;
  height: 50px !important;
  -webkit-box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  -webkit-border-radius: 0 0 15px 15px !important;
  border-radius: 0 0 15px 15px !important;
  cursor: pointer;
  z-index: 999;
}
.goup-container:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: #fff url("../img/ui/arrow-up-blue.svg") center center no-repeat !important;
  -webkit-background-size: 17px 8px;
  -moz-background-size: 17px 8px;
  background-size: 17px 8px;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
}
.goup-container .goup-arrow {
  display: none;
}
.divider {
  text-align: center;
  background: subtle-grey;
}
.divider h1 {
  margin: 30px 0;
}
.blue-title {
  width: auto;
  display: inline-block;
  background: #0629b4;
  padding: 10px 40px;
  color: #fff;
  margin-bottom: 0;
  margin-top: -40px;
}
@media screen and (max-width: 750px) {
  .blue-title {
    margin-top: 0;
  }
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.nav-tabs,
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#topNavi {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  box-shadow: 0 2px 13px 0px rgba(46,46,46,0.05);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  top: 0;
  left: 0;
}
#topNavi .category {
  padding: 37px 35px;
}
#topNavi .category a li {
  padding-left: 40px;
}
#topNavi .category a:first-child li {
  padding-left: 0;
}
#topNavi .logo {
  width: 153px;
  height: 30px;
  margin-top: -10px;
  display: block;
  position: absolute;
  left: 30px;
  top: 20px;
}
#topNavi .logo svg {
  width: 100%;
}
#topNavi .user-navi {
  width: auto;
  padding: 0 20px 0 0;
}
#topNavi .user-navi .cart,
#topNavi .user-navi .currency,
#topNavi .user-navi .login {
  padding: 37px 20px;
  display: inline-block;
  float: left;
}
#topNavi .user-navi .cart:first-child,
#topNavi .user-navi .currency:first-child,
#topNavi .user-navi .login:first-child {
  padding-left: 40px;
  border-left: 1px solid #ebebeb;
}
#topNavi .user-navi .cart span {
  color: #0629b4;
}
#topNavi .user-navi .currency .text {
  float: left;
}
#topNavi .user-navi .currency .dropdown {
  float: left;
  margin-top: -12px;
  margin-left: 20px;
}
#topNavi .user-navi .currency .dropdown .dropdown-menu {
  height: 46px;
}
#topNavi .category-trigger {
  margin: 37px 20px;
  padding-left: 20px;
  position: relative;
  display: block;
  cursor: pointer;
  width: 140px;
}
#topNavi .category-trigger:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 2px;
  background: #3f3f3f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#topNavi .category-trigger:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 8px;
  left: 2px;
  background: #3f3f3f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#topNavi .category-trigger:hover {
  color: #0629b4;
}
#topNavi .category-trigger:hover:before,
#topNavi .category-trigger:hover:after {
  top: 4px;
  background: #0629b4;
}
@media screen and (max-width: 1200px) {
  #topNavi .logo {
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
  }
  #topNavi .cart {
    margin-top: 2px;
  }
}
@media screen and (max-width: 750px) {
  #topNavi {
    padding: 20px;
    height: 60px;
  }
  #topNavi .category-trigger {
    margin: 0;
    margin-top: 5px;
  }
  #topNavi .logo {
    width: 120px;
    top: 3px;
  }
  #topNavi .user-navi {
    padding: 0;
  }
  #topNavi .user-navi .cart {
    margin-top: 5px;
    padding: 0;
  }
}
#menuExpand {
  height: 0;
  max-height: 9999px;
  background: RGBA(15, 26, 183, 0.9);
  position: fixed;
  top: 90px;
  z-index: -2;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 40px;
  padding-left: 0;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#menuExpand.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: auto;
  z-index: 99;
}
#menuExpand.active ul li {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#menuExpand.active ul li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#menuExpand.active ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#menuExpand.active ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#menuExpand.active ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#menuExpand.active ul li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#menuExpand.active .sub-item {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#menuExpand .menu li {
  display: block;
  padding-bottom: 35px;
  font-weight: 600;
  padding-left: 40px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: auto;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#menuExpand .menu li:before {
  content: '';
  width: 25px;
  height: 25px;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 0;
  z-index: 99;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#menuExpand .menu li:hover:before {
  left: -15px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#menuExpand .menu li:hover a {
  color: #fff;
}
#menuExpand .menu li:last-child {
  padding-bottom: 0;
}
#menuExpand .menu li a {
  color: #bdbdbd;
  font-size: 12px;
}
#menuExpand .sub-item {
  position: absolute;
  right: 40px;
  bottom: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 240px;
}
#menuExpand .sub-item .login {
  color: #fff;
  float: left;
}
#menuExpand .sub-item .currency {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  float: left;
  letter-spacing: 1.1;
}
#menuExpand .sub-item .currency .text {
  float: left;
  text-transform: uppercase;
}
#menuExpand .sub-item .currency .dropdown {
  float: left;
  margin-top: -10px;
  margin-left: 20px;
}
#menuExpand .sub-item .currency .dropdown .dropdown-menu {
  height: 46px;
}
#menuExpand .close {
  right: 40px;
  top: 40px;
}
@media screen and (max-width: 750px) {
  #menuExpand {
    top: 60px;
    background: #0629b4;
    padding: 40px 0;
  }
  #menuExpand.active {
    height: calc(100% - 60px);
  }
  #menuExpand .sub-item {
    text-align: left;
    position: static;
    margin-left: 40px;
    margin-top: 80px;
    float: left;
  }
  #menuExpand .close {
    top: 20px;
    right: 20px;
  }
}
#inchatBtn {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 4;
  bottom: 100px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url("../img/ui/icon-inchat.svg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
  box-shadow: 0 3px 7px 0px rgba(46,46,46,0.2);
}
footer #social {
  background: #0629b4;
}
footer #social #newsletter {
  padding-top: 22px;
}
footer #social #newsletter input[type='email'] {
  width: 50%;
  vertical-align: middle;
}
footer #social #newsletter button {
  vertical-align: middle;
}
footer #social #socialIcons {
  text-align: right;
}
footer #social #socialIcons a {
  padding: 30px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  display: inline-block;
}
footer #social #socialIcons a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (max-width: 970px) {
  footer #social #newsletter {
    padding-top: 30px;
  }
  footer #social #socialIcons {
    text-align: left;
    margin-bottom: 20px;
  }
  footer #social #socialIcons a {
    padding: 20px;
  }
  footer #social #socialIcons a:first-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 750px) {
  footer #social #socialIcons {
    margin-bottom: 0;
  }
}
footer #footer {
  padding: 30px 0;
  padding-bottom: 60px;
  background: #ebebeb;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -2;
}
footer #footer >div {
  height: auto;
}
footer #footer >div .header {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}
footer #footer >div a {
  margin-top: 15px;
  text-transform: capitalize;
  letter-spacing: 1.1;
}
footer #footer .copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}
footer #footer .copyright .logo {
  width: 172px;
  height: 34px;
  margin-bottom: 20px;
}
footer #footer .copyright p {
  font-size: 12px;
}
@media screen and (max-width: 750px) {
  footer #footer .copyright {
    position: static;
    text-align: left;
    margin-top: 80px;
  }
}
@media screen and (max-width: 970px) {
  footer #footer {
    padding-bottom: 30px;
    padding-top: 0;
  }
}
@media screen and (max-width: 750px) {
  footer #footer {
    position: static;
  }
  footer #social {
    margin-bottom: 0 !important;
  }
}
#Minicart {
  position: fixed;
  z-index: -2;
  padding-top: 90px;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#Minicart.active {
  z-index: 99;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#Minicart.active .cartwrapper {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#Minicart .cartwrapper {
  z-index: 99;
  position: fixed;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: RGBA(15, 26, 183, 0.9);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#Minicart .cartwrapper #cartCarousel {
  padding: 20px;
  background: #d4d4d4;
}
#Minicart .cartwrapper #cartCarousel .info-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  color: #0629b4;
}
#Minicart .cartwrapper #cartCarousel .info-wrapper .name {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 0;
}
#Minicart .cartwrapper #cartCarousel .info-wrapper .price {
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
}
#Minicart .cartwrapper #cartCarousel .info-wrapper .quantity {
  font-size: 12px;
  color: #5e5e5e;
  text-transform: capitalize;
  position: absolute;
  right: 10px;
  top: 10px;
}
#Minicart .cartwrapper #cartCarousel .info-wrapper .quantity .text {
  float: left;
  padding: 12px;
}
#Minicart .cartwrapper #cartCarousel .owl-nav .owl-prev {
  left: 5px;
}
#Minicart .cartwrapper #cartCarousel .owl-nav .owl-next {
  right: 5px;
}
#Minicart .cartwrapper .total {
  color: #fff;
  position: relative;
  height: 245px;
  vertical-align: middle;
}
#Minicart .cartwrapper .total .wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 250px;
  width: 100%;
  padding: 30px;
  vertical-align: middle;
}
#Minicart .cartwrapper .total .wrapper .order-total {
  font-size: 18px;
}
#Minicart .cartwrapper .total .wrapper .total-price {
  margin: 20px 0;
}
#Minicart .cartwrapper .total .wrapper .order-total,
#Minicart .cartwrapper .total .wrapper p {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#Minicart .cartwrapper .total .wrapper .underline-link {
  color: #fff;
}
#Minicart .cartwrapper .total .wrapper button {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #Minicart .cartwrapper .total {
    height: 200px;
  }
  #Minicart .cartwrapper .total .wrapper {
    padding: 10px;
  }
  #Minicart .cartwrapper .total .wrapper .total-price {
    margin: 10px 0;
  }
}
#featured {
  position: relative;
}
#featured #carousel-featured {
  overflow: hidden;
  padding-bottom: 32px;
}
@media screen and (max-width: 970px) {
  #featured #carousel-featured {
    padding-bottom: 78px;
  }
}
@media screen and (max-width: 750px) {
  #featured #carousel-featured {
    padding-bottom: 0;
  }
}
#featured #carousel-featured .owl-stage-outer {
  overflow: visible;
  height: 0;
}
@media screen and (max-width: 750px) {
  #featured #carousel-featured .owl-stage-outer {
    overflow: hidden;
    height: auto;
  }
}
#featured #carousel-featured .owl-stage-outer .owl-item.active .info-wrapper .featured-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper {
  position: absolute;
  z-index: 999;
  bottom: -44px;
  left: 0;
  right: 0;
  overflow: hidden;
    text-align: left;
}
@media screen and (max-width: 970px) {
  #featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper {
    bottom: -88px;
  }
}
@media screen and (max-width: 750px) {
  #featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper {
    position: static;
  }
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-caption {
  background: rgba(255,255,255,0.8);
  padding: 25px;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media screen and (max-width: 750px) {
  #featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-caption {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background: #fff;
  }
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-caption h3 {
  margin-bottom: 0;
  color: #000;
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-description {
  padding: 25px;
  position: relative;
  z-index: 2;
  background: #ebebeb;
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-description p {
  font-size: 12px;
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-description p .price {
  font-size: 24px;
  font-weight: 600;
  color: #0629b4;
  margin-left: 10px;
  letter-spacing: 0;
}
#featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-description p .link {
  display: block;
  margin-top: -5px;
}
@media screen and (max-width: 750px) {
  #featured #carousel-featured .owl-stage-outer .owl-item .info-wrapper .featured-description .shop {
    width: 100%;
    margin-top: 20px;
  }
}
#about .about-text {
  padding: 4vw 40px 40px 40px;
}
#about .about-text2 {
  margin-top: -20px;
}
@media screen and (max-width: 970px) {
  #about .about-text2 {
    margin: 40px 0;
  }
}
#about .img-wrapper img {
  width: 100%;
}
#about .img-wrapper:hover .title {
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#about .img-wrapper .gif-poster {
  border: 1px solid #d4d4d4;
}
#about .img-wrapper .title {
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 3vw;
}
@media screen and (max-width: 750px) {
  #about .img-wrapper .title {
    top: 5vw;
    font-size: 24px;
  }
}
#about .video-wrapper:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
#about .video-wrapper #InyardVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.touch #bestSeller .info-wrapper {
  display: none;
}
@media screen and (max-width: 750px) {
  #bestSeller .blue-title {
    margin-left: 5px;
  }
}
.product-cell {
  padding: 0 5px 10px 5px;
  float: left;
  width: 25%;
  position: relative;
}
@media screen and (max-width: 970px) {
  .product-cell {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .product-cell {
    width: 100%;
  }
}
.product-cell img {
  width: 100%;
}
.product-cell .info-wrapper {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  padding: 10px;
  color: #0629b4;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 0px solid RGBA(15, 26, 183, 0.9);
  background: rgba(255,255,255,0.8);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.product-cell .info-wrapper .name {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-cell .info-wrapper .designer {
  font-size: 12px;
  text-transform: uppercase;
  color: #0629b4;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-cell .info-wrapper .designer a {
  padding-bottom: 2px;
  color: #0629b4;
  display: inline-block;
  border-bottom: 1px solid #0629b4;
}
.product-cell .info-wrapper .designer a:hover {
  padding-bottom: 0;
}
.product-cell .info-wrapper .price {
  position: absolute;
  left: 10px;
  bottom: 60px;
  font-size: 24px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.product-cell .info-wrapper .link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
.product-cell .info-wrapper:hover {
  border: 10px solid RGBA(15, 26, 183, 0.9);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.product-cell .info-wrapper:hover .name,
.product-cell .info-wrapper:hover .designer,
.product-cell .info-wrapper:hover .price {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.product-cell.featured {
  width: 50%;
}
.owl-item .main-photo {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 23px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.owl-item .main-photo:hover {
    opacity: 1;
}
.owl-item .main-photo:before,
.owl-item .main-photo:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -2px;
    width: 25px;
    height: 2px;
    background: #4cff00;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.owl-item .main-photo:before{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.owl-item .main-photo:after{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.owl-item .del {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.owl-item .del:hover {
    opacity: 1;
}
.owl-item .del:before,
.owl-item .del:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -2px;
    width: 25px;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.owl-item .del:before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.owl-item .del:after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.owl-carousel .owl-item {
    text-align: center;
    background: #fff;
}
.owl-carousel .owl-item img {
    max-height: 489px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}
@media screen and (max-width: 970px) {
  .product-cell.featured {
    width: 100%;
  }
}
